version: 1.1.{build}
image: Visual Studio 2017
assembly_info:
  patch: true
  file: '**\Disboard*\**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- cmd: nuget restore .\Source\
build:
  project: Source\Disboard.sln
  publish_nuget: true
  verbosity: minimal
cache:
- Source\packages -> **\packages.config
configuration: Release
deploy:
- provider: NuGet
  api_key:
    secure: +a9+GBTx9qVZ/LD2Rj+kB8XOHGIqz7yCU9n3cOwFoamoT3MAb/ueKA3NQ4aqRKQE
  artifact: /.*\.nupkg/
  on:
    branch: /master/
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
environment:
  MISSKEY_CLIENT_SECRET:
    secure: vtITEV22b63CoAoGxv2RVN67Y5dV3Wm4pR776daQfqu3qW4WbwhoUktnaqUzFxCT
  MISSKEY_ACCESS_TOKEN:
    secure: 6czWkQqZHuGV+nHrxeBTUn074btzVd0Udlh3qxVmhFtodDrXM3REoYx476ry1j9L
notifications:
- provider: Slack
  incoming_webhook:
    secure: IY0URIfO7RU35GI0Hz1uzZo6GjX5cZP1glxYAGwwpunZBW5LqfbfkpsafcuTcaC1fmPD+xXck4UmWp4RS4cUro2+Cpyi55Q2TKSp9kENiV+BLeD767QVWMO3Zz7PiqdYKpE1dmiYPTe8SAcYg0asM873SKkcJ8rhUan/mgpsluOAFF9qTxX6LKbJAd6p4Rb/
  channel: ci
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
nuget:
  disable_publish_on_pr: true
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
